Xft.dpi       : 96
Xft.antialias : true
Xft.hinting   : true
Xft.rgba      : rgb
Xft.autohint  : false
Xft.hintstyle : hintfull
Xft.lcdfilter : lcddefault


!!*foreground: #00cc00
!!*foreground_bold: #a8a19f
*cursor: #a8a19f
!!*background:   [90]#1b1918
!!*background: rgba(0, 0, 0, .7)

!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee
!! orange
*color16: #FFA500
*color17: #FF8C00

URxvt.intensityStyles:	false
URxvt*background:       [95]#000000
URxvt*foreground:       #F1EFEE
URxvt*depth:		32
URxvt.font: xft: RobotoMono Nerd Font Mono:style=Medium,Regular:size=14
URxvt.boldFont: xft: RobotoMono Nerd Font Mono:style=Medium,Bold:size=14
URxvt.italicFont: xft: RobotoMono Nerd Font Mono:style=Medium,Italic:size=14
URxvt.boldItalicFont: xft: RobotoMono Nerd Font Mono:style=Bold Italic:size=14
URxvt.scrollBar:	false
URxvt.cursorColor: 	white
URxvt.perl-ext-common:      default,tabbedex,clipboard,url-select,keyboard-select,font-size
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.C-Up:	perl:font-size:increase
URxvt.keysym.C-Down:	perl:font-size:decrease

rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #FFA500, #ffffff
rofi.color-active:	#FFA500, #FFA500, #FFA500, #FFA500, #FFB266
rofi.color-urgent:	#FFA500, #FFA500, #FFA500, #FFA500, #FFB266

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width: 30
